/* ~~~~~~~~~~~~~~~ globals ~~~~~~~~~~~~~~~ */

// http://paletton.com/#uid=64W0X0kw0oImMvxtYuNBYkdKFeU
// 0 is main color, 1 & 2 are lighter main, 3 & 4 are darker main
// primary
$color-primary-0: hsla(300, 100%, 25%, 1);
$color-primary-1: hsla(300, 55%, 41%, 1);
$color-primary-2: hsla(300, 88%, 33%, 1);
$color-primary-3: hsla(300, 100%, 21%, 1);
$color-primary-4: hsla(300, 100%, 15%, 1);
// prime secondary
$color-secondary-1-0: hsla(240, 74%, 31%, 1);
$color-secondary-1-1: hsla(240, 44%, 48%, 1);
$color-secondary-1-2: hsla(240, 66%, 41%, 1);
$color-secondary-1-3: hsla(240, 79%, 25%, 1);
$color-secondary-1-4: hsla(240, 87%, 17%, 1);
// supporting secondary
$color-secondary-2-0: hsla(17, 100%, 39%, 1);
$color-secondary-2-1: hsla(17, 96%, 63%, 1);
$color-secondary-2-2: hsla(17, 92%, 51%, 1);
$color-secondary-2-3: hsla(17, 100%, 32%, 1);
$color-secondary-2-4: hsla(17, 100%, 23%, 1);
// complement
$color-complement-0: hsla(70, 100%, 37%, 1);
$color-complement-1: hsla(70, 88%, 61%, 1);
$color-complement-2: hsla(70, 88%, 49%, 1);
$color-complement-3: hsla(70, 100%, 30%, 1);
$color-complement-4: hsla(70, 100%, 23%, 1);

// rgba values for colors
$rgba-primary-0: rgba(128, 0, 128, 1);
$rgba-primary-1: rgba(163, 47, 163, 1);
$rgba-primary-2: rgba(159, 10, 159, 1);
$rgba-primary-3: rgba(105, 0, 105, 1);
$rgba-primary-4: rgba(77, 0, 77, 1);
$rgba-secondary-1-0: rgba(21, 21, 138, 1);
$rgba-secondary-1-1: rgba(69, 69, 176, 1);
$rgba-secondary-1-2: rgba(35, 35, 172, 1);
$rgba-secondary-1-3: rgba(13, 13, 113, 1);
$rgba-secondary-1-4: rgba(6, 6, 83, 1);
$rgba-secondary-2-0: rgba(197, 56, 0, 1);
$rgba-secondary-2-1: rgba(251, 123, 72, 1);
$rgba-secondary-2-2: rgba(245, 81, 16, 1);
$rgba-secondary-2-3: rgba(161, 46, 0, 1);
$rgba-secondary-2-4: rgba(119, 34, 0, 1);
$rgba-complement-0: rgba(158, 190, 0, 1);
$rgba-complement-1: rgba(213, 243, 70, 1);
$rgba-complement-2: rgba(199, 237, 15, 1);
$rgba-complement-3: rgba(129, 155, 0, 1);
$rgba-complement-4: rgba(95, 115, 0, 1);

// hex values for colors
$hex-primary-0: #800080;
$hex-primary-1: #A32FA3;
$hex-primary-2: #9F0A9F;
$hex-primary-3: #690069;
$hex-primary-4: #4D004D;
$hex-secondary-1-0: #15158A;
$hex-secondary-1-1: #4545B0;
$hex-secondary-1-2: #2323AC;
$hex-secondary-1-3: #0D0D71;
$hex-secondary-1-4: #060653;
$hex-secondary-2-0: #C53800;
$hex-secondary-2-1: #FB7B48;
$hex-secondary-2-2: #F55110;
$hex-secondary-2-3: #A12E00;
$hex-secondary-2-4: #772200;
$hex-complement-0: #9EBE00;
$hex-complement-1: #D5F346;
$hex-complement-2: #C7ED0F;
$hex-complement-3: #819B00;
$hex-complement-4: #5F7300;