/*

*/
/* ~~~~~~~~~~~~~~~ responsive start ~~~~~~~~~~~~~~~ */
/*
*/

// desktops & laptops
@include mediaLg {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;

    & > * {
      padding: 2em;
    }
  }

  .brand, 
  .company-info h3, 
  .company-info ul {
    text-align: left;
  }
}

/*

*/
/* ~~~~~~~~~~~~~~~ responsive end ~~~~~~~~~~~~~~~ */
/*
*/

